@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

$blue: #141e30;
$navy: #243b55;
$text-color: #fff;
$font-style: 'Merriweather', serif;
$text-font: 'Oxygen', sans-serif;
$text-black: #000;
$title-con: #00BFFF;

html {
    height: 100%;
} 

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, $blue, $navy);
    color: $text-color;

    .container {

        .head {
            font-family: $font-style;
            color: $text-color;
            font-size: 4em;
            font-weight: 800;
        }

        .main-content {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-direction: row;
            margin: 2em;

        }

        .main-container {
            color: $text-black;
            font-family: $text-font;
            margin: 0;
            padding: 0;

            .title-con {
                background-color: $title-con !important;
                padding: 5px 12px 5px 12px;
                font-size: 20px;
            }

            textarea {
                outline: none;
                border: none;
                height: 380px;
                padding: 10px;
            }

            #preview {
                height: 390px;
                padding: 10px;
                color: #000;
                overflow: auto;
            }

            #preview img {
                max-width: 100%;
            }
        }
    }
}




